/* Dungeon rooms and doors */
.doorUp {
    position: absolute;
    top: 3vh;
    left: 44vw;
    width: 10vw;
    height: 15vh;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    user-select: none;
}

.doorRight {
    position: absolute;
    top: 40vh;
    right: 0vw;
    width: 10vw;
    height: 15vh;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    user-select: none;
}

.doorDown {
    position: absolute;
    bottom: 3vh;
    left: 44vw;
    width: 10vw;
    height: 15vh;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    user-select: none;
}

.doorLeft {
    position: absolute;
    top: 40vh;
    left: 0vw;
    width: 10vw;
    height: 15vh;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    user-select: none;
}

#trapDoor {
    position: absolute;
    width: 11%;
    height: 17%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

#exitButton {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.6);
    left: 15vw;
    width: 30vw;
}

#continueButton {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.6);
    right: 15vw;
    width: 30vw;
}
