/* Overlay and modal styles */
.inventoryOverlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.settingsOverlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 10000;
    gap: 2vh;
}

.inventoryRow {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    margin-bottom: 1vh;
}

.inventoryCell {
    display: flex;
    flex-direction: column;
    width: 10vh;
    height: 10vh;
    border: 0.3vh solid rgb(220, 40, 40);
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
